<div class="container">
  <h3>CIP Demo</h3>

  <button class="btn btn-primary" type="button" (click)="onAuthLogin('yahoo')">
    login with Yahoo! Japan ID
  </button>

  <button class="btn btn-primary" type="button" (click)="onAuthLogin('google')">
    login with Google
  </button>

</div>

<div class="container">
  <hr>
</div>

<div class="container">
  <h5>ID Token from ID Provider</h5>
  <p class="wordwrap">
    {{myCred.idToken}}
  </p>
</div>


<div class="container">
  <h5>ID Token Signed by Platform</h5>
  <p class="wordwrap">
    {{myCred.fbIdToken}}
  </p>
</div>

<div class="container">
  <a href="https://jwt.io/" target="_blank">jwt.io</a> <br>
</div>






